<!-- 
    File: /account
    File Type: HTML5
    Linked Files: /register - File Type: CSS || /grayscale - File Type: JS ||
    Written By: Alanté D. Powell (AP0408) - Clearance: 1st Class
    Contributors: Bootstrap, Google, FontAwesome, JQuery, Ajax
    CDN's: Bootstrap, Google, FontAwesome, JQuery, Ajax
    Documentaion: Flask, Bootstrap, FontAwesome, Ajax
    Editor: Microsoft Visual Studio Code
    Total Lines: 185 (Comments Included) as of: 12 December 2019
    Property Of Powell Indsutries - PowellTech LLC.
 -->

{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ legend }}</title>

    <!-- Bootstrap CSS - Integeration Type: CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Font Awesome Icons - Integeration Type: CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />

    <!-- Google Font: Catamaran - Integeration Type: CDN -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Catamaran"
    />

    <!-- Custom PowellTech © CSS - Integeration Type: Local -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container">
        <a href="#page-top" class="navbar-brand js-scroll-trigger"></a>
        <img
          src="{{ url_for('static', filename='assets/SmallLogo.png') }}"
          alt="PowellTech Logo"
          id="navbar-logo"
        />©
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle Navigation"
        >
          Menu <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{{ url_for('home') }}" class="nav-link">Cancel</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('home') }}" class="nav-link">Save & Exit</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masterHead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h3 class="text-white">Settings</h3>
          <h1 class="text-white account-preferences">
            {{ current_user.first_name }} {{ current_user.last_name }}
          </h1>
          <h2 class="text-white">{{ current_user.email }}</h2>
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mt-5">
              <div class="container">
                <div class="row">
                  <!-- First Name -->
                  <div class="form-group col-lg-6">
                    {{ form.first_name.label(class='form-control-label') }} {%
                    if form.first_name.errors %} {{
                    form.first_name(class='form-control form-control-lg
                    is_invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.first_name.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.first_name(class='form-control
                    form-control-lg', value=current_user.first_name) }} {% endif
                    %}
                  </div>

                  <!-- Last Name -->
                  <div class="form-group col-lg-6">
                    {{ form.last_name.label(class='form-control-label') }} {% if
                    form.last_name.errors %} {{
                    form.last_name(class='form-control form-control-lg
                    is_invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.last_name.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.last_name(class='form-control
                    form-control-lg', value=current_user.last_name) }} {% endif
                    %}
                  </div>

                  <!-- E-mail Address -->
                  <div class="form-group col-lg-6">
                    {{ form.email.label(class='form-control-label') }} {% if
                    form.email.errors %} {{ form.email(class='form-control
                    form-control-lg is_invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.email(class='form-control
                    form-control-lg', value=current_user.email) }} {% endif %}
                  </div>

                  <!-- Password -->
                  <div class="form-group col-lg-6">
                    {{ form.password.label(class='form-control-label') }} {% if
                    form.password.errors %} {{ form.password(class='form-control
                    form-control-lg is_invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.password(class='form-control
                    form-control-lg', value=current_user.password) }} {% endif
                    %}
                  </div>

                  <!-- Confirm Password -->
                  <div class="form-group col-lg-6">
                    {{ form.confirm_password.label(class='form-control-label')
                    }} {% if form.confirm_password.errors %} {{
                    form.confirm_password(class='form-control form-control-lg
                    is_invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.confirm_password.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.confirm_password(class='form-control
                    form-control-lg', value=current_user.confirm_password) }} {%
                    endif %}
                  </div>

                  <!-- Phone Number -->
                  <div class="form-group col-lg-6">
                    {{ form.phone_number.label(class='form-control-label') }} {%
                    if form.phone_number.errors %} {{
                    form.phone_number(class='form-control form-control-lg
                    is_invalid') }}
                    <div class="invalid-feedback">
                      {% for error in form.phone_number.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %} {{ form.phone_number(class='form-control
                    form-control-lg', value=current_user.phone_number) }} {%
                    endif %}
                  </div>
                </div>
              </div>
            </fieldset>

            <!-- Submit Button -->
            <div class="form-group zoom">
              {{ form.submit(class='btn btn-outline-info') }}
            </div>
            <!-- /{{ form.hidden_tag() }} -->
          </form>
        </div>
      </div>
    </header>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/grayscale.js') }}"></script>
  </body>
</html>
