<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1
        style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
      >
        <img
          src="https://i.ibb.co/bd26Cym/Small-Logo.jpg"
          alt="Small-Logo"
          style="max-width:25%; border:0"
        />
      </h1>
      <div
        style="margin-left:5%;margin-right:5%;font-family:Gothic A1,sans-serif;font-weight:100;"
      >
        <h1
          style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
        >
          Adminstrative Access
        </h1>
        <h2
          style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
        >
          Access: <span style="color:green">GRANTED</span> to:
          {{current_user.first_name}} {{current_user.last_name}}.
        </h2>
        <hr />
        <h3
          style="text-align:center;font-family:Gothic A1,sans-serif; font-weight: 100"
        >
          Attention: Administrative Access to powelltech.com has been:
          <span style="color:green">GRANTED</span> to:
          {{current_user.first_name}} {{current_user.last_name}}
          <br />
          <br />
          Employee Name: {{current_user.first_name}} {{current_user.last_name}}
          <br />
          Employee Phone Number: {{current_user.phone_number}}
          <br />
          Employee E-mail Address: {{current_user.email}}
          <br />
          Employee Identification Number: {{current_user.employee_id}}
          <br />
          <br />
          Adminstrative Access to sensitive and confidential site information
          has been detected at location:
          <br />
          <br />
          (Location has been recorded in PowellTech Database for security
          purposes)
          <br />
          <br />
          Location: {{city}}, {{state}}
          <br />
          Country: {{country}}
          <br />
          Time: {{timestamp}}
          <br />
          <br />
          <a href="#">Session Detonation Link</a>
        </h3>
        <hr />
        <h6
          style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
        >
          <img
            src="https://i.ibb.co/bd26Cym/Small-Logo.jpg"
            alt="Small-Logo"
            style="width:10%; border:0"
          />
        </h6>
        <p style="text-align:center;">
          Copyright &copy 2019 Powell Industries
        </p>
        <p style="text-align:center;">
          All Rights Reserved.
        </p>
      </div>
    </header>
  </body>
</html>
