<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1
        style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
      >
        <img
          src="https://i.ibb.co/bd26Cym/Small-Logo.jpg"
          alt="Small-Logo"
          style="max-width:25%; border:0"
        />
      </h1>
      <div
        style="margin-left:5%;margin-right:5%;font-family:Gothic A1,sans-serif;font-weight:100;"
      >
        <h1
          style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
        >
          *****TESTING*****
          <br />
          Just Checking...
        </h1>
        <h2
          style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
        >
          Security is our top priority.
        </h2>
        <hr />
        <h3
          style="text-align:center;font-family:Gothic A1,sans-serif; font-weight: 100"
        >
          Hey there, {{current_user.first_name}}.
          <br />
          <br />
          We noticed a login into your PowellTech Account.
          <br />
          <br />
          If you recently logged into your account, you can ignore this e-mail.
          We just thought you should know.
          <br />
          <hr />
          <br />
          Most Recent Login Location Information
          <br />
          (Encrypted for your protection)
          <br />
          <br />
          Location: {{city}}, {{state}}
          <br />
          Country: {{country}}
          <br />
          Time: {{timestamp}}
          <br />
          <br />
          If you did not login to your account, please reset your password by
          clicking <a href="{{ url_for('reset_request') }}">here</a>.
          <br />
          <br />
        </h3>
        <hr />
        <h3 style="text-align:center; font-weight: 100">
          If you have any questions, please do not hesitate to reach out to us,
          we're here to help!
        </h3>
        <ul style="list-style:none;display:inline;">
          <li style="text-decoration:underline;text-align:center;">
            Contact Us
          </li>
          <li style="margin-top:5px;text-align:center;">
            Phone: +1 (404) 555-5555
          </li>
          <li style="text-align:center;margin-bottom:20px;">
            E-mail: powell.ind.inc@gmail.com
          </li>
        </ul>
        <hr style="margin-top:5px;" />
        <p style="text-align:center;">
          This message was intended for {{current_user.first_name}}
          {{current_user.last_name}}. This message has been automatically
          generated, please do not reply to this message as PowellTech will not
          receive it. If you did not recently sign into your account, please
          contact us to ensure the integrity of your account security is
          preserved. Please feel free to review the PowellTech
          <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
        </p>
        <hr />
        <h6
          style="text-align:center;font-family:Gothic A1,sans-serif;font-weight:100;"
        >
          <img
            src="https://i.ibb.co/bd26Cym/Small-Logo.jpg"
            alt="Small-Logo"
            style="width:10%; border:0"
          />
        </h6>
        <p style="text-align:center;">
          Copyright &copy 2019 Powell Industries
        </p>
        <p style="text-align:center;">
          All Rights Reserved.
        </p>
      </div>
    </header>
  </body>
</html>
